
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Medical History Keeper</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Pushster&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">Medical History Keeper</h1>
      </div>
      <div class="nav-items">
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/">Home</a></li>
          <li id="about"><a href="/compose">Add record</a></li>
  
          <div class="input-group rounded">
            <input type="search" class="form-control rounded"  placeholder="Search for a post..." id="search-box" aria-label="Search"
            aria-describedby="search-addon" />

          </div>

        </ul>
    </div>
  </nav>

  <body>
    <div class="container">   

    <h1>Add record</h1>
    <form class="" action="/compose" method="post">
      <div class="form-group">
        <label>Date</label>
        <input class="form-control" type="text" name="postDate">
        <label>Overall</label>
        <input class="form-control" type="text" name="postOverall">
        <label>Temperature</label>
        <input class="form-control" type="text" name="postTemp">
        <label>Blood pressure</label>
        <input class="form-control" type="text" name="postBP">
        <label>Cholestrol</label>
        <input class="form-control" type="text" name="postCholestrol">
      </div>
      <button class="btn btn-primary" type="submit" name="button">Add</button>
    </form>


  </div>
  <div class="footer-padding"></div>
    <div class="footer">
      <p>Made by Prathmesh Nagpure</p>
    </div>
  </div>
  </body>
  </html>
  
